html{
    font-size: 1.125em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2px;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #45b29a;
    transition: 1s;
}
a:hover{
  color: #21564b;
}
ul{
  margin: 0;
  list-style: none;
}
.site-logo{
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.header-title img{
  width: 150px;
  height: 45px;
}
.hero-img img{
  width: 100%;
  object-fit: cover;
}
#about img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.what-img img{
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}
/* paragraphy */
h1,
h2,
h3{
  color: #45b29a;
  margin: 0;
}
h1{
    font-size: 5em;
    margin: 1.5rem 0;
    font-family: 'Dancing Script', cursive;
}
h2{
  font-size: 2.6em;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
}
h3{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
p{
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.5rem;
}
.header-title p{
  font-size: 1.5em;
  margin: 2rem 0;
  color: #45b29a;
  font-weight: 400;
}
.coppy-right p{
  margin: 0;
}
small{
  font-size: .8em;
  color: #686868;
}
/* layout */
header, footer{
    background: #E0EBE8;
    text-align: center;
}
header{
  padding-top: 1.5rem;
}
footer{
  padding: 2rem 0;
}
.container{
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
}
.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#objective{
  background: #3887d1;
}
#education{
  background: #f76160;
}
#software{
  background: #31355B;
}
#hobbies{
  background: #F8C687;
}
@media (min-width:675px){
    .container-flex{
        flex-direction: row;
    }
}
/* nav */
.site-logo{
    margin: auto;
}
.nav-list{
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  flex-direction: column;
}
.nav-item{
  line-height: 72px;
}
.nav-link{
    font-size: 1em;
    color: #45b29a;
    font-weight: 400;
    transition: 1s color;
}
.nav-link:hover,
.nav-link:focus,
.active{
    color: #21564b;
    border-bottom: 2px solid #21564b;
}
@media (min-width:675px){
    .site-logo{
    margin-left: 0;
    }
    .nav-list{
        flex-direction: row;
    }
    .nav-item{
        margin-left: 2rem;
    }
}
/* header title */
.header-title{
  position: relative;
  height: 300px;
  padding: 56px 0;
}
.header-title-right{
  position: absolute;
  top: 50px;
  right: 0;
}
.header-title-left{
  position: absolute;
  bottom: 50px;
  left: 0;
}
/* @media (max-width:675px){
  .header-title-left,
  .header-title-right{
    display: none;
  }
} */
/* about */
#about{
  max-width: 460px;
  text-align: center;
  padding: 84px 0;
  margin: 0 auto;
}
#about p{
  text-align: justify;
  text-align-last: center;
}
/* what */ 
#what{
  padding: 84px 0;
  margin: 0 auto;
}
#what section{
  margin-bottom: 84px;
}
.what-img{
  width: 40%;
}
.what-body{
  width: 55%;
}
.what-bottom .what-img{
  order: 1;
}
.what-bottom .what-body{
  order: 0;
}
@media (max-width:992px){
  #what .container-flex{
    flex-direction: column;
  }
  .what-img{
    width: 100%;
    margin-bottom: 2rem;
  }
  .what-body{
    width: 100%;
    text-align: center;
  }
  .what-bottom .what-img{
    order: 0;
  }
  .what-bottom .what-body{
    order: 1;
  }
}
/* help */
#help{
  padding: 84px 0;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
.help-content{
  text-align: justify;
  text-align-last: center;
}
.btn-mailto a{
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  color: #1b7f69;
  background-color: #45b29a;
  padding: .8rem;
  transition: 1s;
  border-radius: 5%;
}
.btn-mailto a:hover{
  background-color: #3ea08a;
  box-shadow: rgb(0 0 0 / 60%) 0px 0px 1rem;
}
/* about-article */
.about-article{
  padding: 3rem 0;
  text-align: center;
}
.about-article-img{
  height: 30vw;
  width: 70%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 5%;
}
.about-article-title{
  color: #fff;
}
.about-article-body{
  color: #fff;
}
/* footer */

/* fonts */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BlackItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.woff2') format('woff2'),
      url('../fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.woff2') format('woff2'),
      url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
      url('../fonts/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.woff2') format('woff2'),
      url('../fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ThinItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}



